body{
    background-color: rgb(164, 238, 238);
}
img{
    align-items: center;
    width: 700px;
    height: 400px;
}
h1,h2{
    background-color: rgb(102, 102, 216);
    width: 700px;
    
}
header h4{
    color: green;
}
h1{
    color: white;
}